@{
    ViewData["Title"] = "صفحه اول مبین شاپ";
}

  <!-- breadcrumb start-->
    <section class="breadcrumb breadcrumb_bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb_iner text-center">
                        <div class="breadcrumb_iner_item">
                            <h2>لیست قیمت</h2>
                            <p>صفحه اصلی<span class="ti-angle-double-left"></span>لیست قیمت</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb start-->

    <!-- priceing part start-->
    <section class="priceing_part">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7 col-lg-6 col-sm-10">
                    <div class="section_tittle">
                        <img src="img/section_tittle_icon.png" alt="icon">
                        <h2>لیست قیمت</h2>
                        <p>این خدمات جهت رفاه حال مشتریان ارائه می گردد.</p>
                    </div>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-md-6 col-lg-6">
                    <div class="single_pricing_item">
                        <img src="img/pricing_img/pricing_img_1.png" alt="">
                        <div class="single_pricing_text">
                            <h5>کوتاهی</h5>
                            <h6>30000 تومان</h6>
                            <p>نوبت دهی از سه روز آینده</p>
                        </div>
                    </div>
                    <div class="single_pricing_item">
                        <img src="img/pricing_img/pricing_img_2.png" alt="">
                        <div class="single_pricing_text">
                            <h5> رنگ مو</h5>
                            <h6>30000 تومان</h6>
                            <p>نوبت دهی از سه روز آینده</p>
                        </div>
                    </div>
                    <div class="single_pricing_item">
                        <img src="img/pricing_img/pricing_img_3.png" alt="">
                        <div class="single_pricing_text">
                            <h5>صاف کردن مو </h5>
                            <h6>30000 تومان</h6>
                            <p>نوبت دهی از سه روز آینده</p>
                        </div>
                </div>
                    <div class="single_pricing_item">
                        <img src="img/pricing_img/pricing_img_4.png" alt="">
                        <div class="single_pricing_text">
                            <h5>شامپو</h5>
                            <h6>30000 تومان</h6>
                            <p>نوبت دهی از سه روز آینده</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6">
                    <div class="single_pricing_item">
                        <img src="img/pricing_img/pricing_img_5.png" alt="">
                        <div class="single_pricing_text">
                            <h5>شستشوی مو</h5>
                            <h6>30000 تومان</h6>
                            <p>نوبت دهی از سه روز آینده</p>
                        </div>
                    </div>
                    <div class="single_pricing_item">
                        <img src="img/pricing_img/pricing_img_6.png" alt="">
                        <div class="single_pricing_text">
                            <h5>اصلاح مو </h5>
                            <h6>30000 تومان</h6>
                            <p>نوبت دهی از سه روز آینده</p>
                        </div>
                    </div>
                    <div class="single_pricing_item">
                        <img src="img/pricing_img/pricing_img_7.png" alt="">
                        <div class="single_pricing_text">
                            <h5>صورت آقایان</h5>
                            <h6>30000 تومان</h6>
                            <p>نوبت دهی از سه روز آینده</p>
                        </div>
                    </div>
                    <div class="single_pricing_item">
                        <img src="img/pricing_img/pricing_img_8.png" alt="">
                        <div class="single_pricing_text">
                            <h5>سبک عروسی</h5>
                            <h6>30000 تومان</h6>
                            <p>نوبت دهی از سه روز آینده</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- priceing part end-->

    <!--::review_part start::-->
    <section class="review_part gray_bg section_padding">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="client_review_part owl-carousel" style="direction: ltr">
                        <div class="client_review_single">
                            <img src="img/Quote.png" class="Quote" alt="quote">
                            <div class="client_review_text">
                                <p>این خدمات جهت رفاه حال مشتریان ارائه می گردد</p>
                                <p>به منظور کمک به ارتقای کیفیت خدمات ارائه شده لطفا پیشنهادات و انتقادات خود را با ما در میان بگذارید
                                </p>
                            </div>
                            <div class="client_img">
                                <img src="img/client/client_1.png" alt="">
                            </div>
                            <h4>علیرضا کمالی <span>مدیر مجموعه</span></h4>
                        </div>
                        <div class="client_review_single">
                            <img src="img/Quote.png" class="Quote" alt="quote">
                            <div class="client_review_text media-body">
                                <p>این خدمات جهت رفاه حال مشتریان ارائه می گردد</p>
                                <p>به منظور کمک به ارتقای کیفیت خدمات ارائه شده لطفا پیشنهادات و انتقادات خود را با ما در میان بگذارید
                                </p>
                            </div>
                            <div class="client_img">
                                <img src="img/client/client_1.png" alt="">
                            </div>
                            <h4>علیرضا کمالی <span>مدیر مجموعه</span></h4>
                        </div>
                        <div class="client_review_single">
                            <img src="img/Quote.png" class="Quote" alt="quote">
                            <div class="client_review_text">
                                <p>این خدمات جهت رفاه حال مشتریان ارائه می گردد</p>
                                <p>به منظور کمک به ارتقای کیفیت خدمات ارائه شده لطفا پیشنهادات و انتقادات خود را با ما در میان بگذارید
                                </p>
                            </div>
                            <div class="client_img">
                                <img src="img/client/client_1.png" alt="">
                            </div>
                            <h4>علیرضا کمالی <span>مدیر مجموعه</span></h4>
                        </div>
                        <div class="client_review_single">
                            <img src="img/Quote.png" class="Quote" alt="quote">
                            <div class="client_review_text">
                                <p>این خدمات جهت رفاه حال مشتریان ارائه می گردد</p>
                                <p>به منظور کمک به ارتقای کیفیت خدمات ارائه شده لطفا پیشنهادات و انتقادات خود را با ما در میان بگذارید
                                </p>
                            </div>
                            <div class="client_img">
                                <img src="img/client/client_1.png" alt="">
                            </div>
                            <h4>علیرضا کمالی <span>مدیر مجموعه</span></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
